body {
    background: rgb(187, 205, 218);
}

.panel {
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}

#info1 {
    font-size: 15px;
    font-family: sans-serif;	
}

#tohob {
    background-color: rgb(45, 206, 30);
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    text-align: center;
}

#tofav {
    margin-bottom: 12em;
    background-color: rgb(77, 209, 21);
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    text-align: center;
}
